{% extends 'tours/base.html' %}

{% block container %}
    <h1 class="display-5 mt-4">Летим {{ departure }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ tour_departure_list|length }}</span> тура, от <span data-test="pricemin">{{ price_range.0 }}</span> до <span data-test="pricemax">{{ price_range.1 }}</span> и от <span data-test="nightsmax">{{ nights_range.0 }}</span> до <span data-test="nightsmax">{{ nights_range.1 }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">

        {% for id, tour in tour_departure_list %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
                <img src={{ tour.picture }} class="card-img-top img-fluid" data-test="picture">
                <div class="card-body">
                  <h5 class="card-title">{{ tour.title }}</h5>
                  <p class="card-text text-truncate">{{ tour.description }}</p>
                  <a href="/tour/{{ id }}/" class="btn btn-sm btn-primary"  data-test="tourlink">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}