{% extends 'tours/base.html' %}

{% block container %}
    <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">

        {% for id, tour in tour_random_list %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
                <img src={{ tour.picture }} class="card-img-top img-fluid" data-test="picture">
                <div class="card-body">
                  <h5 class="card-title">{{ tour.title }}</h5>
                  <p class="card-text text-truncate">{{ tour.description }}</p>
                  <a href="/tour/{{ id }}/" class="btn btn-sm btn-primary"  data-test="tourlink">Подробнее</a>
                  <div class="">{{ tour.country }}, {{ tour.nights }} ночей, {{ tour.price }}₽</div>
                  <div class="text-right">{% for _ in 'x'|rjust:tour.stars %}★{% endfor %}</div>
                  <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}